<div class="tasks">
  <div class="column-title"><span>Total Tasks: {{unassignedTasks.length}}</span></div>
  <div class="task" ng-repeat="task in (unassignedTasks = ($ctrl.TasksService.tasks | orderBy:'createdAt' | filter:$ctrl.filterUnassigned))">
    <div class="task-title"><span>{{task.title}}</span></div>
    <div class="add-task dropdown">
      <span class="dropbtn">+</span>
      <div class="dropdown-content">
        <div ng-click="$ctrl.TasksService.addTaskToEmployee(task.id, employee.id)" class="dropdown-content-item" ng-repeat="employee in $ctrl.TasksService.employees">{{employee.name}}</div>
      </div>
  </div>
</div>
