.task {
  border-radius: 3px;
  background-color: #ff526b;
  text-align: center;
  padding: 15px 0 15px 0;
  margin-bottom: 25px;
  color: #ffffff;
  letter-spacing: 0.6px;
  line-height: 1.22;
  font-size: 18px;
  display: flex;
}

.task-title {
  flex: 1;
}



.attach-task:hover {
  color: black;
  cursor: pointer;
}

.dropbtn {
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}



/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    background-color: #ffffff;
    padding: 10px;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {color: black}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    color: black;
}

.dropdown-content-item {
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.6px;
  text-align: left;
  color: #4a4a4a;
  padding: 5px;
}

.dropdown-content-item:hover {
  background-color: #9b9b9b;
  color: #ffffff;
}

.add-new-task {
  border-radius: 3px;
  background-color: #ff526b;
  text-align: center;
  padding: 15px 25px;
  margin-bottom: 25px;
  color: #ffffff;
  letter-spacing: 0.6px;
  line-height: 1.22;
  font-size: 18px;
  display: flex;
  flex-direction: column;
}

.add-new-task input {
  padding: 5px 0;
  width: 100%;
  background-color: #ff526b;
  color: #ffffff;
  border: none;
}

.add-new-task input::placeholder {
  color: #ffffff;
  font-family: Roboto;
}

.add-new-task input:focus {
  outline: none;
}

.add-new-task label, button, input {
  display: block;
  width: 100%;
  font-size: 20px;
  margin-bottom: 5px;
  background-color: #ff526b;
  border: none;
  color: #ffffff
}
