<div class="tasks">
  <div class="column-title"><span>Total Tasks: </span></div>
  <div class="task" ng-repeat="task in $ctrl.TasksService.tasks | orderBy:'createdAt' | filter:$ctrl.filterUnassigned">
    <div class="task-title"><span>{{task.title}}</span></div>
    <div class="add-task dropdown">
      <span class="dropbtn">+</span>
      <div class="dropdown-content">
        <div class="dropdown-content-item" ng-repeat="employee in $ctrl.TasksService.employees">{{employee.name}}</div>
      </div>

  </div>
</div>
